// styles that apply to the "share" popup when sharing a link to a post or topic

#user-card {
  position: absolute;
  width: 500px;
  left: 20px;
  z-index: 990;
  box-shadow: 0 2px 6px rgba(0,0,0, .6);
  margin-top: -2px;
  background-color: $primary;
  color: $secondary;
  background-size: cover;
  background-position: center center;
  min-height: 175px;

  .card-content {
    padding: 12px 12px 0 12px;
    background: rgba($primary, .85);
    margin-top: 80px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

&.no-bg {
  min-height: 50px;

  .card-content {
    margin-top: 0;
  }
}

  .avatar-placeholder {
    width: 120px;
    height: 120px;
    float: left;
    padding-right: 10px;
  }

  h1 {
    display: inline-block;
    min-width: 120px;
    font-size: 25px;
    line-height: 1.25;
    display: block;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: $secondary;
    }
    i {
      font-size: 18px;
      color: $secondary;
    }
  }

  h2 {
    font-size: 15px;
    line-height: 1.25;
    font-weight: normal;
    display: block;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: $secondary;
    }
  }

  h3 {
    font-size: 13px;
    font-weight: normal;
    margin-top: 0;
    color: scale-color($primary, $lightness: 50%);
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: $secondary;
    }
  }
  .groups {
    font-size: 13px;
    font-weight: normal;
    margin-top: 0;
    color: $primary;

    .group-link {
      color: $primary;
    }
  }

  .metadata {
    width: 100%;
    clear: both;
    h3 {display: inline; margin-right: 5px; }
    div {display: inline; color: scale-color($primary, $lightness: 50%);
    .group-link {color: scale-color($primary, $lightness: 50%);}
    }
  }

  .bottom {
    clear: both;
    padding-top: 10px;
  }

  .bio {
    padding: 15px 0 0 0;
    clear: left;
    a {
      color: $secondary;
      text-decoration: underline;
    }
    img {
      max-width: 100%;
    }

    .overflow {
      max-height: 60px;
      overflow: hidden;
      }
  }

  img.avatar {
    float: left;
    padding-right: 10px;
    margin-top: -53px;
  }

  p {
    margin: 0 0 5px 0;
  }

  p.loading {
    margin-top: 45px;
    color: $primary;
  }

  .btn {
    margin: 0 0 7px 0;
    box-sizing: border-box;
  }

  .usercard-controls {
    list-style-type: none;
    float: right;

    &:after {
      content: '';
      display: block;
      clear: both;

    }

    a {width: 100%; min-width: 150px;}
  }

  .new-user a {
    color: scale-color($primary, $lightness: 70%);
  }

  &.show-badges {
    width: 580px;

    .names {
      float: left;
      height: 60px;
      position: relative;
      width: 45%;
      margin-top: 11px;

      span {
        position: absolute;
        bottom: 0;
        display: block;
        width: 250px;
      }

    }

    .badge-section {
      float: left;
      width: 500px;
      padding-bottom: 10px;
      margin-top: 5px;

      .user-badge {
        background: transparent;
        color: scale-color($primary, $lightness: 50%);
        border-color: scale-color($primary, $lightness: 50%);

      }

      h3 {
        color: $primary;
        font-size: 14px;
        margin-bottom: -8px;
      }
    }

    .more-user-badges {
      @extend .user-badge;
      padding: 3px 8px;
    }
  }

  .suspended {
    color: $danger;
    margin-bottom: 10px;
  }

  .card-badge {
    img {
      max-width: 100px;
    }
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 30px;
    i {color: $secondary;}
  }
}
